mixin smenu(hotel_name,ref1,ref2,ref3,ref4,ref5,ref6,ref7)
	div.wrap-smenu
		nav.second-nav
			ul(id=hotel_name).smenu
				li.about
					a( href=ref1) Об отеле			
				li.rooms
					a(href=ref2) Номера
				li.price
					a(href=ref3) Цены
				li.promoution
					a(href=ref4) Акции
				li.gallery
					a(href=ref5) Фото
				li.response
					a(href=ref6) Отзывы
				li.contacts
					a(href=ref7) Контакты






mixin hname(text_desc,name_hotel,text_place)
	.what
		p= text_desc
	.name-hotel-h2
		h2= name_hotel
	.place-text
		p= text_place
mixin mnews(urlpict,date,text)
	.item-news
		.img
			a(href="javascript:void(0);")
				img(src= urlpict alt="")
		.desc
			.date
				span=  date
				a(href="javascript:void(0);")= text


mixin mhotel(urlpict,name,geo,text,price)
	.item-hotel
		.img_hotel
			a(href="javascript:void(0);") 
				img(src= urlpict)
		.desc-hotel
			.hotel-info
				.name
					a(href="#")=name
				.geo
					p= geo   
				.logo
			.hotel-text
				p= text
			.hotel-price-info
				.hotel-price 
					span=price  
					//span.rub P
					span .-
				.bbron
					a(href="javascript:void(0);").bron Забронировать

		//.dop-menu
		//	.inline-block.desc
		//		a(href="javascript:void(0);") Описание
		//	.inline-block.price
		//		a(href="javascript:void(0);") Цены
		//	.inline-block.foto
		//		a(href="javascript:void(0);") Фото
		//	.inline-block.rewiews
		//		a(href="javascript:void(0);") Отзывы


mixin mtest(text,num)
	p.proba #{text}#{num}




mixin mhotel_new(name)
	-var hotel_name
	-var image
	-var geo
	-var price
	-var text
	-var a_ref
	case name
		when 'византия'
			-image = '../static/img/visantia/hotel.jpg';
			-hotel_name = 'Отель "Византия"';
			-geo = 'Анапа, Витязево ';
			-price = 'от 390';
			-text = 'Мы находимся в центре поселка Витязево (Анапа) – в его первой курортной зоне: в 300 метрах от морского побережья, добраться до которого можно пешком за пять минут. Песчаный пляж настолько близок, что посещать его можно ежедневно!';
			-a_ref  = '/visantia_about.html';
		when 'исидор'
			-image = '../static/img/isidor/hotel.jpg';
			-hotel_name = 'Отель "Исидор"';
			-geo = 'Анапа, пос. Витязево ';
			-price = 'от 650';
			- text = 'Отель “Исидор” расположен в курортном поселке Витязево – в 5-10 мин. ходьбы до моря, в непосредственной близости от развлекательного центра ( боулинг клуб, рестораны, парк с аттракционами), однако не настолько близко.. ';
			-a_ref  = '/isidor_about.html';
		when 'южная ночь'
			-image = '../static/img/yug_night/hotel.jpg';
			-hotel_name = 'Отель "Южная ночь"';
			-geo = 'Анапа, Джемете ';
			-price = 'от 420';
			-text = 'В курортном поселке Джемете, на второй линии Пионерского проспекта, на расстоянии 300 метров от городского песчаного пляжа, находится отель «Южная ночь».';
			-a_ref  = '/yug_night_about.html';
		when 'приморский'
			-image = '../static/img/primorski/hotel.jpg';
			-hotel_name = 'Отель "Приморский"';
			-geo = 'Анапа, Джемете ';
			-price = 'от 715';
			-text = 'Наш современный и уютный отель располагает просторными и современными номерами с  бесплатным Wi-Fi. Отель находится всего в 100 метрах от песчаного пляжа, а так же, в непосредственной близости от ..';
			-a_ref  = '/primorski_about.html';
		when 'христакис'
			-image = '../static/img/christakis/hotel.jpg';
			-hotel_name = 'Отель "Христакис"';
			-geo = 'Анапа, Витязево ';
			-price = 'от 600';
			-text = 'В отеле - комфортабельные номера, крытый бассейн с подогревом, детская площадка, детская и взрослая анимация, и он прекрасно подходит для пляжного семейного отдыха.';
			-a_ref  = '/christakis_about.html';
		when 'родничок'
			-image = '../static/img/rodnik/hotel.jpg';
			-hotel_name = 'Отель "Родничок"';
			-geo = 'Анапа ';
			-price = 'от 390';
			-text = 'Гостиница "Родничок" Гостиница "Родничок" Гостиница "Родничок" Гостиница "Родничок" Гостиница "Родничок" Гостиница "Родничок" Гостиница "Родничок" ...';
			-a_ref  = 'rodnik_about.html';

		when 'посейдон'
			-image = '../static/img/poseydon/hotel.jpg';
			-hotel_name = 'Отель "Посейдон"';
			-geo = 'Анапа ';
			-price = 'от 800';
			-text = 'Здание новое, на 43 номера, просторный закрытый двор, много цветов и зелени, площадка для игр, бассейн. На территории расположены бассейн, шезлонги для отдыха, площадка для игр, бар с барбекю.';
			-a_ref  = '/poseydon_about.html';

	.item-hotel
		.img_hotel
			a(href= a_ref)
				img(src= image)
		.desc-hotel
			.hotel-info
				.name
					a(href=a_ref)=hotel_name
				.geo
					p= geo
				.logo
			.hotel-text
				p= text
		.hotel-price 
			span=price  
			//span.rub P
			span .-

		.bbron
			case name
				when 'византия'
					a(href="javascript:void(0);").bron#hotel-visantia-bron Забронировать
				when 'исидор'
					a(href="javascript:void(0);").bron#hotel-isidor-bron Забронировать
				when 'южная ночь'
					a(href="javascript:void(0);").bron#hotel-ug-bron Забронировать
				when 'приморский'
					a(href="javascript:void(0);").bron#hotel-primor-bron Забронировать
				when 'христакис'
					a(href="javascript:void(0);").bron#hotel-christakis-bron Забронировать
				when 'родничок'
					a(href="javascript:void(0);").bron#hotel-rodnik-bron Забронировать

				when 'посейдон'
					a(href="javascript:void(0);").bron#hotel-poseydon-bron Забронировать



