mixin smenu(hotel_name,ref1,ref2,ref3,ref4,ref5,ref6,ref7)
	nav.second-nav
		ul(id=hotel_name).smenu
			li.about
				a( href=ref1) Об отеле			
			li.rooms
				a(href=ref2) Номера
			li.price
				a(href=ref3) Цены
			li.promoution
				a(href=ref4) Акции
			li.gallery
				a(href=ref5) Фото
			li.response
				a(href=ref6) Отзывы
			li.contacts
				a(href=ref7) Контакты
		





mixin hname(text_desc,name_hotel,text_place)
	p= text_desc
	h2= name_hotel
	p= text_place
mixin mnews(urlpict,date,text)
	.item-news
		.img
			a(href="javascript:void(0);")
				img(src= urlpict alt="")
		.desc
			.date
				span=  date
				a(href="javascript:void(0);")= text


mixin mhotel(urlpict,name,geo,text,price)
	.item-hotel
		.img_hotel
			a(href="javascript:void(0);") 
				img(src= urlpict)
		.desc-hotel
			.hotel-info
				.name
					a(href="http://www.atelica.ru/atelika-lipki/description/")=name
				.geo
					p= geo   
				.logo
			.hotel-text
				p= text
			.hotel-price-info
				.hotel-price 
					span=price  
					span.rub P
					a(href="javascript:void(0);").bron Забронировать
		.dop-menu
			.inline-block.desc
				a(href="javascript:void(0);") Описание
			.inline-block.price
				a(href="javascript:void(0);") Цены
			.inline-block.foto
				a(href="javascript:void(0);") Фото
			.inline-block.rewiews
				a(href="javascript:void(0);") Отзывы


mixin mtest(text,num)
	p.proba #{text}#{num}